// * Colores primarios
// blue
$col-prim-blue-1: #bfbeeb;
$col-prim-blue-2: #3f3bc4;
$col-prim-blue-3: #151441;
// red
$col-prim-red-1: #f3b6b6;
$col-prim-red-2: #dc2323;
$col-prim-red-3: #490c0c;
// green
$col-prim-green-1: #bfead2;
$col-prim-green-2: #40bf77;
$col-prim-green-3: #154028;
// yellow
$col-prim-yellow-1: #fae7af;
$col-prim-yellow-2: #f1b80e;
$col-prim-yellow-3: #503d05;
// orange
$col-prim-orange-2: #f28b0d;

// * Colores neutros
$col-neutral-1: #d4d4d4;
$col-neutral-2: #808080;
$col-neutral-3: #070707;
